body{
    margin: 0 auto;
    text-align: center;
    background-color: rgba(1, 0, 32, 1);
    background-image: url("point.png");
}
.principal{
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.principal img{
    width: 380px;
}

.principal .texto{
    width: 300px;
    padding-top: 30px;
    margin-left: 70px;
    font-family: "droid-sans", sans-serif;
}
.principal text{
    margin-bottom: 10px;
}

.principal .texto #retangulo{
    position: absolute;
    top: 155px;
    z-index: -1;
    width: 300px;
}

.principal .texto #balao{
    width: 70px;
    position: absolute;
    padding-left: 200px;
    top: 80px;
}